body
  max-width 100vw
  // Baseline Material-UI font treatment. We define it here as well, because we otherwise get FOUT when hard-refreshing a page with  markdown->html set via `dangerouslySetInnerHtml` (e.g., one of the product or team pages.

  color #0782c8
  background-image url("../pages/images/gray_background.png")
  font-color #000
  font-size 1rem
  font-family "Roboto", "Helvetica", "Arial", sans-serif
  font-weight 400
  line-height 1.5
  letter-spacing 0.011em
  #logo
    background-color #eee
    color #0782c8
    &:hover
      a
        color #0782c8
      background-color #69da3e
      #logoIcon
          color #0782c8

    #logoIcon
      color #69da3e
  a
    text-decoration none
    color #0782c8
    &:hover
      color #69da3e

  button
    a
      color #0782c8
    &:hover
      color #69da3e
  footer
    text-align center

.contact-info
     display flex
     justify-content space-between

.contact-method
   text-align center
   margin 0.5em

   .method-head
     display flex
     justify-content flex-start
     align-items center

@media screen and (max-width: 600px)
  .contact-info
    flex-direction column
    align-items center

  .contact-method
    min-width 80vw
    justify-content center

  .method-head
    display flex
    align-items center

  .method-card
    display flex
    flex-direction column
    justify-content space-around
    align-items center
